[data-color="Y"] {
    background-color: #ffc107;
    color: #333;
}

[data-color="G"] {
    background-color: #4caf50;
    color: #fff;
}

[data-color="B"] {
    background-color: #b8aa98;
    color: #333;
}